.container {
  width: 80%;
  margin: 0 auto;
}

.container .score-block, .container .category-birds-block, .container .question-block, .container .main-content-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.audio-player .controls, .audio-player .controls .icon-pause::before,
.audio-player .controls .icon-play::before,
.audio-player .controls .icon-sound-on::before,
.audio-player .controls .icon-sound-off::before {
  display: flex;
  align-items: center;
}

.container .category-birds-block .category-birds, .container .next-question, .container .victory-block .again-btn {
  display: block;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
}

body {
  background: url("../../../assets/images/main.png") no-repeat bottom/contain;
}

.container .score-block {
  align-items: center;
}
.container .score-block .headline {
  font-size: 3rem;
}
.container .score-block .headline .link:hover {
  color: rgba(254, 186, 199, 0.7);
}
.container .score-block .headline .link:active {
  background: linear-gradient(to right, #fda100, #fa4101);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .score-block .score {
  font-size: 1.5rem;
  font-weight: 500;
}
.container .category-birds-block .category-birds {
  width: 15%;
}
.container .category-birds-block .active {
  background: linear-gradient(to right, #fda100, #fa4101);
}
.container .question-block {
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5%;
  border-radius: 5px;
}
.container .question-block .question-image {
  width: 15%;
  display: block;
  border-radius: 10px;
}
.container .question-block .question-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 83%;
}
.container .question-block .question-content .title {
  font-size: 2rem;
  border-bottom: 1px solid gray;
  padding: 1% 0;
  margin-bottom: 3%;
}
.container .main-content-block .block-one {
  width: 49%;
}
.container .main-content-block .block-one .choice-bird {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
}
.container .main-content-block .block-one .choice-bird .bird {
  padding: 15px;
  font-weight: 300;
  cursor: pointer;
}
.container .main-content-block .block-one .choice-bird .bird:not(:last-child) {
  border-bottom: 1px solid gray;
}
.container .main-content-block .block-one .choice-bird .bird:first-child {
  border-radius: 5px 5px 0 0;
}
.container .main-content-block .block-one .choice-bird .bird:last-child {
  border-radius: 0 0 5px 5px;
}
.container .main-content-block .block-one .choice-bird .bird:hover {
  background: rgba(254, 186, 199, 0.7);
}
.container .main-content-block .block-one .choice-bird .bird .bird-btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background: gray;
}
.container .main-content-block .block-one .choice-bird .bird .bird-btn-true {
  background: linear-gradient(to right, #fda100, #fa4101);
}
.container .main-content-block .block-one .choice-bird .bird .bird-btn-false {
  background: #3f4674;
}
.container .main-content-block .about-bird {
  border-radius: 5px;
  width: 49%;
  padding: 1.5%;
  background: rgba(0, 0, 0, 0.7);
}
.container .main-content-block .about-bird .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.container .main-content-block .about-bird .content .content-image {
  width: 30%;
  display: block;
  border-radius: 10px;
}
.container .main-content-block .about-bird .content .description {
  width: 68%;
}
.container .main-content-block .about-bird .content .description .title {
  font-size: 1.5rem;
}
.container .main-content-block .about-bird .content .description .species {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 2%;
  margin: 5% 0;
}
.container .main-content-block .about-bird .text {
  text-align: justify;
}
.container .next-question {
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
}
.container .active {
  background: linear-gradient(to right, #fda100, #fa4101);
}
.container .victory-block {
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5%;
  border-radius: 5px;
}
.container .victory-block .congratulation {
  font-size: 5rem;
  margin: 3.5% 0 0;
}
.container .victory-block .text {
  font-size: 2rem;
  margin: 0 0 3.5%;
  padding: 0 0 1.5%;
  border-bottom: 1px solid gray;
}
.container .victory-block .again-btn {
  width: 50%;
  background: linear-gradient(to right, #fda100, #fa4101);
  margin: 0 auto;
  cursor: pointer;
}

.audio-player {
  height: 50px;
  font-size: 0.9rem;
  background: rgba(254, 186, 199, 0.7);
  display: grid;
  grid-template-rows: 7px auto;
}
.audio-player .timeline {
  background: #ffffff;
  position: relative;
  cursor: pointer;
}
.audio-player .timeline .progress {
  background: linear-gradient(to right, #fda100, #fa4101);
  width: 0;
  height: 100%;
  transition: 0.3s;
}
.audio-player .controls {
  justify-content: space-between;
  padding: 0 30px;
}
.audio-player .controls .icon-pause::before,
.audio-player .controls .icon-play::before,
.audio-player .controls .icon-sound-on::before,
.audio-player .controls .icon-sound-off::before {
  cursor: pointer;
  justify-content: center;
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-slider {
  cursor: pointer;
  position: absolute;
  left: -3px;
  top: 0;
  width: 0;
  height: 15px;
  background: #ffffff;
  transition: 0.3s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: linear-gradient(to right, #fda100, #fa4101);
  height: 100%;
  width: 75%;
  transition: 0.3s;
}
.audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

@media (max-width: 1000px) {
  html, body {
    font-size: 14px;
  }
  .container .category-birds-block {
    flex-wrap: wrap;
  }
  .container .category-birds-block .category-birds {
    width: 30%;
  }
  .container .category-birds-block .category-birds:nth-child(1), .container .category-birds-block .category-birds:nth-child(2), .container .category-birds-block .category-birds:nth-child(3) {
    margin-bottom: 1%;
  }
  .container .question-block .question-image {
    width: 20%;
  }
  .container .question-block .question-content {
    width: 78%;
  }
  .container .main-content-block .about-bird .content {
    display: block;
  }
  .container .main-content-block .about-bird .content .content-image {
    width: 50%;
    margin: 0 auto 2%;
  }
  .container .main-content-block .about-bird .content .description {
    width: 100%;
  }
  .container .main-content-block .about-bird .content .description .species {
    margin: 2% 0;
  }
}
@media (max-width: 768px) {
  html, body {
    font-size: 13px;
  }
  .container {
    width: 70%;
  }
  .container .category-birds-block {
    flex-wrap: wrap;
  }
  .container .category-birds-block .category-birds {
    width: 49%;
  }
  .container .category-birds-block .category-birds:nth-child(4) {
    margin-bottom: 1%;
  }
  .container .question-block .question-image {
    width: 30%;
  }
  .container .question-block .question-content {
    width: 68%;
  }
  .container .question-block .question-content .title {
    margin-bottom: 5%;
  }
  .container .main-content-block {
    display: block;
  }
  .container .main-content-block .block-one {
    width: 100%;
    margin-bottom: 1%;
  }
  .container .main-content-block .block-one .choice-bird .bird {
    padding: 10px;
  }
  .container .main-content-block .about-bird {
    width: 100%;
  }
  .container .main-content-block .about-bird .content {
    display: flex;
    justify-content: space-between;
  }
  .container .main-content-block .about-bird .content .content-image {
    width: 30%;
    margin: 0;
  }
  .container .main-content-block .about-bird .content .description {
    width: 68%;
  }
  .container .next-question {
    width: 50%;
  }
  .container .victory-block .congratulation {
    font-size: 3rem;
  }
  .container .victory-block .text {
    font-size: 1rem;
  }
  .audio-player .controls {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  html, body {
    font-size: 12px;
  }
  .container {
    width: 90%;
  }
  .container .question-block .question-image {
    width: 40%;
  }
  .container .question-block .question-content {
    width: 58%;
  }
  .container .question-block .question-content .title {
    margin-bottom: 7%;
  }
  .container .main-content-block .about-bird .content {
    display: block;
    justify-content: space-between;
  }
  .container .main-content-block .about-bird .content .content-image {
    width: 40%;
    margin: 0 auto 2%;
  }
  .container .main-content-block .about-bird .content .description {
    width: 100%;
  }
  .container .next-question {
    width: 100%;
  }
  .container .victory-block .again-btn {
    width: 100%;
  }
  .audio-player .controls {
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  html, body {
    font-size: 13px;
  }
  .container .question-block {
    display: block;
  }
  .container .question-block .question-image {
    width: 50%;
    margin: 0 auto 1%;
  }
  .container .question-block .question-content {
    width: 100%;
  }
  .container .question-block .question-content .title {
    margin-bottom: 5%;
  }
  .container .main-content-block .about-bird .content .content-image {
    width: 50%;
  }
}

/*# sourceMappingURL=game.css.map */
