@use "../../../styles/global" as global;

.container {
  @extend %container;
  position: relative;
  top: 0;
  .header {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    .nav-btn {
      @extend %buttons;
      @extend %front-view;
      background: global.$main-background;
      width: 30%;
      padding: 0;
      transition: all .3s linear;
      .link {
        display: block;
        padding: 10px;
      }
      .start-link {
        cursor: default;
      }
      &:first-child {
        background: global.$gradient;
      }
      &:last-child:hover {
        background: global.$shadow-hover;
      }
      &:last-child:active {
        background: global.$gradient;
      }
    }
  }
  .main {
    @extend %general-block;
    justify-content: center;
    position: relative;
    .background-video {
      width: 60%;
      display: block;
      background: global.$main-background;
    }
    .title {
      @extend %front-view;
      text-align: center;
      font-size: 5rem;
      font-weight: 700;
      writing-mode: vertical-lr;
      text-orientation: upright;
    }
    .about {
      width: 60%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 300;
      position: absolute;
      z-index: 1;
      top: 65%;
      .upper {
        text-transform: uppercase;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .author {
      @extend %front-view;
      display: block;
      font-size: 1.3rem;
      color: global.$main-background;
      transition: all .3s linear;
      &:hover {
        color: global.$shadow-hover;
      }
      &:active {
        background: global.$gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .rsschool-link {
      @extend %front-view;
      display: block;
      width: 7vw;
      margin: 0 3%;
      padding: 5px;
      border-radius: 5px;
      background: global.$main-background;
      transition: all .3s linear;
      &:hover {
        background: global.$shadow-hover;
      }
      &:active {
        background: global.$gradient;
      }
      .logo-rsschool {
        display: block;
      }
    }
    .year {
      @extend %front-view;
      font-size: 1.3rem;
    }
    .choice-language {
      @extend %front-view;
      display: block;
      padding: 5px;
      width: 90px;
      margin: 0 0 0 3%;
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: 600;
      border: none;
      background: global.$main-background;
      cursor: pointer;
      transition: all .3s linear;
      &:hover {
        background: global.$shadow-hover;
      }
      &:active {
        background: global.$gradient;
      }
      .option {
        font-weight: 600;
        background: global.$main-background;
      }
    }
  }
}

.background-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: radial-gradient(circle 7vw at 56vw 12.5vw, transparent 100%, global.$shadow-background 100%);
}

@media (max-width: 1280px) {
  .container {
    .main {
      .title {
        font-size: 4rem;
      }
      .about {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    .main {
      .background-video {
        width: 80%;
      }
    }
  }
  .background-shadow {
    background-image: radial-gradient(circle 7.5vw at 58vw 14vw, transparent 100%, global.$shadow-background 100%);
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    .header {
      flex-direction: column;
      align-items: center;
      padding: 3%;
      .nav-btn {
        width: 50%;
        &:first-child {
          margin-bottom: 2%;
        }
      }
    }
    .main {
      .title {
        font-size: 3.5rem;
      }
      .about {
        font-size: 1.1rem;
      }
    }
    .footer {
      .rsschool-link {
        width: 10vw;
      }
    }
  }
  .background-shadow {
    background-image: radial-gradient(circle 8vw at 58vw 24vw, transparent 100%, global.$shadow-background 100%);
  }
}

@media (max-width: 620px) {
  .container {
    .main {
      .about {
        font-size: .9rem;
      }
    }
  }
  .background-shadow {
    background-image: radial-gradient(circle 8vw at 58vw 26vw, transparent 100%, global.$shadow-background 100%);
  }
}

@media (max-width: 540px) {
  html, body {
    font-size: 14px;
  }
  .container {
    .header {
      padding: 4%;
    }
    .footer {
      .rsschool-link {
        width: 15vw;
      }
      .choice-language {
        width: 80px;
      }
    }
  }
  .background-shadow {
    background-image: radial-gradient(circle 8.5vw at 58vw 29vw, transparent 100%, global.$shadow-background 100%);
  }
}

@media (max-width: 470px) {
  html, body {
    font-size: 12px;
  }
  .container {
    .header {
      padding: 5%;
      .nav-btn {
        .link {
          padding: 7px;
        }
      }
    }
  }
  .background-shadow {
    background-image: radial-gradient(circle 8.5vw at 58vw 27vw, transparent 100%, global.$shadow-background 100%);
  }
}

@media (max-width: 420px) {
  .background-shadow {
    background-image: radial-gradient(circle 9vw at 58vw 31vw, transparent 100%, global.$shadow-background 100%);
  }
}

@media (max-width: 360px) {
  .container {
    .main {
      .title {
        font-size: 2.1rem;
      }
    }
  }
  .background-shadow {
    background-image: radial-gradient(circle 9vw at 58vw 33vw, transparent 100%, global.$shadow-background 100%);
  }
}