$main-background: #aaa5c4;
$shadow-background: rgba(0, 0, 0, 0.7);
$shadow-hover: rgba(254, 186, 199, 0.7);
$content: #ffffff;
$outline: #808080ff;
$gradient: linear-gradient(to right, #fda100, #fa4101);
$stroke: #76546f;

$false: #3f4674;
$true: $gradient;

%container {
  width: 80%;
  margin: 0 auto;
}

%general-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

%audio-flex-center {
  display: flex;
  align-items: center;
}

%buttons {
  display: block;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: $content;
  background: $shadow-background;
}

%front-view {
  position: relative;
  z-index: 1;
}
