@use "global" as global;

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  color: global.$content;
  background: global.$main-background;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: global.$content;
}